<div data-ng-controller="controllerDetalleProveedor">
<ion-view title="Estado de Cuenta de:"  left-buttons="leftButtons">
        <ion-content class="padding" scroll="false">
         <div class="row padding textoEntrada">
            <div class="col"><b>{{nomCliente}}</b></div>
           </div>
    <ion-scroll direction="y" class="detallesScroll">
      <div data-ng-repeat="codigos in ArrayDetalleProveedores.slice(0,-1)" data-ng-click="facturaSeleccionado(codigos[0],codigos[1],codigos[2],codigos[3])" style="border-bottom:1px solid black;" >
            <div class="button-bar" style="margin-top: -6px;">
                <div style="margin-right:-1px;">
                    <button style="left:-1px;text-align:left;" class="button button-dark button-full button-small">Doc: {{codigos[0]}}</button>
                </div>
                <button style="text-align:right;background-color: #E6E6E6;" class="button button-block button-small">{{codigos[2] | currency:"$":0}}</button>
            </div>
                <p style="font-size: 12px;margin-top: -10px;">Fecha: {{codigos[1]}}
                    <strong style="float: right;"><i class="ion-chevron-right textoEntrada"></i></strong>
                </p>
      </div>
    </ion-scroll>
        </ion-content>
  <ion-footer-bar align-title="right" class="bar-dark">
  <h1 class="title">Total: {{valProveedor | currency:"$":0}}</h1>
  </ion-footer-bar>
</ion-view>
</div>